<app-navbar></app-navbar>

<div class="contact bg-gray-100 mt-125">
    <div class="container">
        <div class="section-header mt-125 ml-6 text-3xl text-left mb-12 font-bold font-sans">
            <h1>Get In Touch For Any Query</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-address">
                        <h3><b>Address</b></h3>
                        <p> Childrens park road Aditya Nagar , Ramji Nagar 5th Line ,
                             ICIC ATM UPS , Nellore , Ap , 524002
                        </p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-phone-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3><b>Contact Us</b></h3>
                        <p><a href="+91 98491 24578">+91 98491 24578</a></p>
                        <p><a href="+91 98491 24578">+91 97001 44434</a> </p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact-text">
                        <h3><b>Email for Information</b></h3>
                        <p><a href="mailto:sribalaji&#64;gmail.com">sribalaji&#64;gmail.com</a></p>
                    </div>
                    
                </div>
            </div>

            <!-- contact form start -->
            <div class="col-md-7">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        <!-- contact form end -->

<!-- map start -->
<div class="text-center mt-10">
    <h2 class="text-3xl font-bold leading-normal mb-12 text-blue-800 ">
      Discover Sri Balaji Man Power on the Map
    </h2>
    <div class="contact-info-area lg:w-[1050px]">
      <div class="container">
        <div>
          <div>
            <div class="maps">
              <iframe class="rounded-xl shadow-2xl contactmap " width="100%" height="400" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?q=nexmind+&t=&z=13&ie=UTF8&iwloc=&output=embed"><a
                  href="https://www.maps.ie/population/"></a></iframe>
            </div>
          </div>

        </div>
      </div>
    </div>
<!-- map end -->

        </div>
    </div>
</div>

<app-footer></app-footer>