

#navcmd{
  background-color: #ffffff !important;
  position:sticky;
  top: 0px;
  z-index: 999;
}
.navbar-brand img{
  height: 58px;
  width: 130px; 
}

.navbar-toggler {
  background-color: white !important; 
  color: #092a49!important;/* White background color */
  border: none; /* Remove border */
  box-shadow: none; /* Remove box shadow */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none; /* Ensure no shadow on focus or active state */
}



.nav-link {
  font-size: 15px; 
  text-align: center;
  font-weight: bold;
  color: #092a49;
  transition: color 0.5s;
}

.nav-link:hover {
  color: #17a2b8; 
  transition: color 0.5s;
}


@media (max-width: 991.98px) {
  .navbar-collapse {
      background-color: #092a49;
  }

  .navbar-collapse.show {
      opacity: 1;
      transition: opacity 0.5s, top 0.5s;
      top: 70px; 
  }

  .navbar-collapse {
      opacity: 0;
      top: -400px;
      transition: opacity 0.5s, top 0.5s;
  }
  .navbar-toggler{
      background: none;
      border: none;
  }
  .nav-link{
    color: #ffffff ; 

  }
} 

.navbar-custom {
  background-color: #007bff;
}
.navbar-custom .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}
.navbar-custom .navbar-brand img {
  height: 40px;
}
.navbar-custom .navbar-text {
  color: white;
}
.navbar-custom .social-icons a {
  color: white;
  margin-left: 10px;
  font-size: 18px;
}