
  <!-- First Navbar with contact info and social media icons -->
  <!-- <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <span class="navbar-text">
            <i class="fas fa-phone-alt" style="margin-left: 4px;"></i> 9700144434 &nbsp;
            <i class="fas fa-envelope" style="margin-left: 78px;"></i>hr&#64;sribalajimanpowerservices.in

        </span>
        <div class="ml-auto social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</nav> -->

<!-- Second Navbar with navigation links -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow" id="navcmd">
    <a class="navbar-brand d-flex" href="#" >
        <img class="h-10 w-3    mx-4" style="height: 66px; 
         width: 77px;"
         src="assets/img/Logo.jpeg"  
        alt="Logo">
        
      
    </a>
    <p class="fw-bold my-1 text-success" style="font-family:sans-serif;">
        SBMS
       </p>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  mx-4" [ngClass]="{'show': isMenuOpen}" id="navbarNav" style="margin-right: 40px;">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-4">
                <a class="nav-link" [routerLink]="['/home-page']">HOME</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link" [routerLink]="['/services-page']">SERVICES</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link" [routerLink]="['/aboutus']">ABOUT</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link" [routerLink]="['/contact']">CONTACT</a>
            </li>
        </ul>
    </div>
  </nav>

