<app-navbar></app-navbar>


<header>
    <div class="container-fluid p-0">
      <div class="imageclass d-flex align-items-center justify-content-center text-center">
        <video autoplay muted loop class="video-background">
          <source src="https://videos.pexels.com/video-files/1448735/1448735-uhd_2732_1440_24fps.mp4" type="video/mp4">
        </video>
        <div class="overlay w-100 h-100 d-flex flex-column align-items-center justify-content-center">
          <h1>Sri Balaji ManPower Services</h1>
          <p class="mt-2 fw-bold">
              With over 25 years of experience, we provide trusted expertise in recruitment and staffing solutions. <br>
              Our commitment to quality ensures we meet the unique needs of businesses across various sectors.
          </p>
        </div>
      </div>
    </div>
  </header>
  


<!-- <header>
  <div class="container-fluid p-0">
    <div class="imageclass d-flex align-items-center justify-content-center text-center">
      <div class="overlay w-100 h-100 d-flex flex-column align-items-center justify-content-center">
        <h1>    Sri Balaji Manpower Services</h1>
        <p class="mt-2 fw-bold">
            With over 25 years of experience, we provide trusted expertise in recruitment and staffing solutions. <br>
            Our commitment to quality ensures we meet the unique needs of businesses across various sectors.
        </p>
      </div>
    </div>
  </div>
</header> -->


<!-- cards section start -->

<div class="services pb-5">
  <div class="container">
    <div class="pt-5">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="investor-box">
            <div class="card-header">
              <i class="fas fa-user-tie"></i>
            </div>
            <h2>Qualified Team</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="investor-box">
            <div class="card-header">
              <i class="fas fa-people-arrows"></i>
            </div>
            <h2>Individual Approach</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="investor-box">
            <div class="card-header">
              <i class="fas fa-check-circle"></i>
            </div>
            <h2>100% Success</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="investor-box">
            <div class="card-header">
              <i class="fas fa-smile-beam"></i>
            </div>
            <h2>100% Satisfaction</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- cards section end -->




<!-- hero section start -->

<section class="m-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="text-center mb-4">
        <h1>About Us</h1>
      </div>
      <div class="col-lg-6 col-12 mb-4 mb-lg-0 text-center">
        <img src="https://demo.htmlcodex.com/959/consulting-website-template/img/about-2.jpg" alt="About Image"
          class=" rounded">
      </div>
      <div class="col-lg-6 col-12">
        <h1 class="mb-4">25 Years Experience</h1>
        <p class="mb-3">
            With over 25 years of experience in the manpower services industry, Sri Balaji Manpower Services has established itself as a trusted provider of recruitment and staffing solutions. Our extensive experience ensures a deep understanding of the industry and the ability to meet the unique needs of our clients. We are committed to delivering top-quality candidates and tailored solutions that drive success and growth for businesses across various sectors. Our long-standing expertise and dedication to excellence make us the preferred choice for all your staffing needs.
                </p>
        <p>
            Our journey over the past 25 years has been marked by a commitment to quality, integrity, and client satisfaction. 
             By choosing us, you benefit from a partner who is invested in your success and equipped to help you navigate the evolving demands of the labor market.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- hero section end -->



<!-- our services start -->

<section class="service-section">
  <div class="container">
    <div class="pt-5">
      <div class="row" (click)="formvisible()">
        <div class="text-center">
          <h1>Our Services</h1>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-hard-hat"></i> <!-- All Equipment Operators -->
            </div>
            <h2>All Equipment Operators</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-truck"></i> <!-- All LMs & HMV Drivers -->
            </div>
            <h2>All LMs & HMV Drivers</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-cogs"></i> <!-- Civil & Mechanical Engineers -->
            </div>
            <h2>Civil & Mechanical Engineers</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-calendar-check"></i> <!-- Time Keepers & Supervisors -->
            </div>
            <h2>Time Keepers & Supervisors</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-users-cog"></i> <!-- Admins, Front Office Executives, MIS -->
            </div>
            <h2>Admins, Front Office Executives, MIS</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-keyboard"></i> <!-- Data Entry Operators -->
            </div>
            <h2>Data Entry Operators</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-briefcase"></i> <!-- Accounts & HR Executives -->
            </div>
            <h2>Accounts & HR Executives</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-shield-alt"></i> <!-- Safety Officers & Safety Stewards -->
            </div>
            <h2>Safety Officers & Safety Stewards</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-broom"></i> <!-- Office Boys & House Keepers -->
            </div>
            <h2>Office Boys & House Keepers</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-utensils"></i> <!-- Cook & Assistant Cook -->
            </div>
            <h2>Cook & Assistant Cook</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6  mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-users"></i> <!-- All Types of Labors -->
            </div>
            <h2>All Types of Labors</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-tools"></i> <!-- All Types of Helpers -->
            </div>
            <h2>All Types of Helpers</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-wrench"></i> <!-- Welders -->
            </div>
            <h2>Welders</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="service-box">
            <div class="icon-container">
              <i class="fas fa-user-shield"></i> <!-- Security Officers & Guards -->
            </div>
            <h2>Security Officers & Guards</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- our services  end-->


<!-- Latest From Our Consulting Blog start -->
<section class="mt-5">
  <div class="container">
    <h3 class="text-center mb-4">Insights and Innovations in Staffing</h3>
    <div class="row">
      <div class="col-md-6 col-12 mb-4 mb-md-0">
        <div class="blog-item">
          <img src="https://i0.wp.com/cambashi.com/wp-content/uploads/2021/08/Industry-Insights-589910334-1627990424867.jpg?resize=768%2C401&ssl=1"
           alt=""
            class="img-fluid rounded">
          <div class="blog-content">
            <h4>Industry Insights</h4>
            <p>
                In the ever-evolving field of manpower services, staying informed about industry trends and developments is crucial. At Sri Balaji Manpower Services, we continuously analyze market dynamics to provide our clients with up-to-date insights. Understanding shifts in labor demand, emerging skill requirements, and regulatory changes allows us to tailor our staffing solutions effectively. By leveraging this knowledge, businesses can stay ahead of the competition, make informed decisions, and strategically manage their workforce. Our commitment to ongoing research and industry analysis ensures that we offer the most relevant and impactful advice to our clients, helping them navigate the complexities of today's job market.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-4 mb-md-0">
        <div class="blog-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqyo97s7lsepxdR4xfyyRVWpJt8-VPYASHN4QYVVyntdAE_Q1W6JzwS_wUubDoJ9knGsI&usqp=CAU"
           alt=""
            class="img-fluid rounded">
          <div class="blog-content">
            <h4>Staffing Solutions Tips</h4>
            <p>

                
                Optimizing your staffing strategy is key to achieving business success. At Sri Balaji Manpower Services, we recommend defining clear and detailed job descriptions to attract the most suitable candidates. Embrace technology by utilizing advanced recruitment tools and platforms to streamline your hiring process. Prioritize finding candidates who not only possess the right skills but also fit well with your company’s culture, ensuring a smoother integration and long-term success. Additionally, investing in training and development helps enhance employee performance and retention. By implementing these strategies, you can build a more effective and dynamic workforce tailored to your organization's needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Latest From Our Consulting Blog end -->



<!-- Form Start  -->

<!-- <ng-container *ngIf="formVisible">
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 w-100" style="max-width: 500px;">
    <h2 class="card-title text-center">Contact Us</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" class="form-control" formControlName="fullname" />
        <div *ngIf="contactForm.get('fullname')?.invalid && contactForm.get('fullname')?.touched" class="text-danger">
          Full name is required and should contain only alphabets.
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" />
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
          Valid email is required.
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" class="form-control" formControlName="phone" />
        <div *ngIf="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched" class="text-danger">
          Phone number is required and should be exactly 10 digits.
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="service">Service</label>
        <select id="service" class="form-control" formControlName="service">
          <option *ngFor="let service of services" [value]="service">{{ service }}</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="message">Message</label>
        <textarea id="message" class="form-control" formControlName="message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
</div>
</ng-container> -->

<ng-container *ngIf="formVisible" class="mt-3">
  <div class="overlay"></div>
  <div class="form-container d-flex justify-content-center align-items-center">
    <div class="card p-4 w-100" style="max-width: 500px;">
      <h2 class="card-title text-center">Contact Us</h2>
      <div class="text-end cursor-point">
        <span (click)="formHide()">&#x2715;</span>
      </div>
  
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" class="form-control" formControlName="fullname" />
          <div *ngIf="contactForm.get('fullname')?.invalid && contactForm.get('fullname')?.touched" class="text-danger">
            Full name is required and should contain only alphabets.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email" />
          <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
            Valid email is required.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" class="form-control" formControlName="phone" />
          <div *ngIf="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched" class="text-danger">
            Phone number is required and should be exactly 10 digits.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="service">Service</label>
          <select id="service" class="form-control" formControlName="service">
            <option *ngFor="let service of services" [value]="service">{{ service }}</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="message">Message</label>
          <textarea id="message" class="form-control" formControlName="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
        <div *ngIf="success">
           <p class="text-success">register Success fully</p>
        </div>
        <div *ngIf="failure">
          <p class="text-danger">something went wrong</p>
        </div>
      </form>
    </div>
  </div>
</ng-container>






<!-- Form end  -->



<app-footer></app-footer>

